@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-size: 21px;
}

.center {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel {
  position: relative;
  height: 300px;
  width: 30%;
  margin: 0 auto;
  border: crimson solid 3px;
}

.carousel__track-container {
  height: 100%;
  overflow: hidden;
}

.carousel__track {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  height: 100%;
  transition: transform 250ms ease-in;
}

.carousel__slide {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 200px;
}

.carousel__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  border-radius: 50%;
  border: none;
  background: rgba(139, 179, 218, 0.308);
}

.carousel__button--left {
  left: -40px;
}

.carousel__button--right {
  right: -40px;
}

.carousel__nav {
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.carousel__indicator {
  width: 20px;
  height: 20px;
  background-color: black;
  margin: 0 12px;
}
